<div class="filter-icons">
  <div class="filter">
    <a href="/filter?category=Fruits" class="filter-link">
      <div><i class="fa-solid fa-apple-whole"></i></div>
      <p>Fruits</p>
    </a>
    <a href="/filter?category=Vegetables" class="filter-link">
      <div><i class="fa-solid fa-leaf"></i></div>
      <p>Vegies</p>
    </a>
    <a href="/filter?category=Spices" class="filter-link">
      <div><i class="fa-solid fa-mortar-pestle"></i></div>
      <p>Spices</p>
    </a>
    <a href="/filter?category=Dairy" class="filter-link">
      <div><i class="fa-solid fa-mug-hot"></i></div>
      <p>Dairy</p>
    </a>
    <a href="/filter?category=Poultry" class="filter-link">
      <div><i class="fa-solid fa-egg"></i></div>
      <p>Poultry</p>
    </a>
    <a href="/filter?category=Meat" class="filter-link">
      <div><i class="fa-solid fa-drumstick-bite"></i></div>
      <p>Meat</p>
    </a>
    <a href="/filter?category=Berry" class="filter-link">
      <div><i class="fa-solid fa-seedling"></i></div>
      <p>Berry</p>
    </a>
    <a href="/filter?category=Farms" class="filter-link">
      <div><i class="fa-solid fa-tractor"></i></div>
      <p>Farms</p>
    </a>
  </div>
</div>
